<div class="page-headline">
  <div class="uk-container l-container page-content page-places-detail">
    <div class="l-left">
      <ng-container *ngIf="(eventEditStore$|async).status === 1">
        <div class="g-back-button" [routerLink]="['/event']">
          <div class="g-back-button__item"></div>
          <div class="g-back-button__text"> События</div>
        </div>
      </ng-container>
      <ng-container *ngIf="(eventEditStore$|async).status === 2">
        <div class="g-back-button" [routerLink]="['/event',idItem]">
          <div class="g-back-button__item"></div>
          <div class="g-back-button__text"> Отменить</div>
        </div>
      </ng-container>
    </div>
    <div class="l-center">
      <ng-container *ngIf="itemDetail; else NotDetailInfoEvent">
        <app-item-headline-event [itemDetail]="itemDetail"></app-item-headline-event>
      </ng-container>
      <ng-template #NotDetailInfoEvent>
        <div class="item-is-empty">Информация отсутствует...</div>
      </ng-template>
    </div>
    <div class="l-right">
      <ng-container *ngIf="itemDetail">
        <ng-container *ngIf="itemDetail.can_edit">
          <ng-container *ngIf="(eventEditStore$|async).status">
            <ng-container *ngIf="(eventEditStore$|async).status === 1">
              <button mat-raised-button class="button button-edit button-inline button-flat button-primary button-transparent small _wide _default"
                      (click)="onGoEdit(itemDetail.id)">Редактировать</button>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
