<div class="new-item-create">
  <div class="new-item-create__inner">
    <div class="new-item-create__title _place">Редактирование места</div>
    <div class="new-item-create__form">

      <form autocomplete="off"
            [formGroup]="editPlaceForm"
            (ngSubmit)="ngSubmit()">
        <div class="new-item-create-form _has-wide-row _column-2-60">
          <div class="new-item-create-form__column">
            <div class="new-item-create-form__row">
              <mat-form-field>
                <mat-label>Название места</mat-label>
                <input autocomplete="off" matInput required formControlName="name"
                       type="text"  minlength="1" aria-label="name" placeholder=""
                >
                <mat-error *ngIf="hasError('editPlaceForm','name', 'required')">
                  {{getErrorMessage('name', 'required')}}
                </mat-error>
                <mat-error
                  *ngIf="hasError('editPlaceForm','name', 'minlength')">
                  {{getErrorMessage('name', 'invalid')}}
                </mat-error>
                <mat-error
                  *ngIf="hasError('editPlaceForm','name', 'back')">
                  {{getErrorMessage('name', 'back')}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="new-item-create-form__row">
              <mat-form-field class="mat-form-field-textarea">
                <mat-label>Описание места (опционально)</mat-label>
                <textarea matInput
                          cdkAutosizeMinRows="7"
                          cdkAutosizeMaxRows="7"
                          rows="7"
                          formControlName="text"
                ></textarea>
                <mat-error
                  *ngIf="hasError('editPlaceForm','text', 'back')">
                  {{getErrorMessage('text', 'back')}}
                </mat-error>
              </mat-form-field>
            </div>


          </div>

          <div class="new-item-create-form__column">
            <div class="new-item-create-form__image-wrap"
                 [ngClass]="{'_error': hasError('editPlaceForm', 'file','back')}"
            >
              <div class="new-item-create-form__image"
                   [ngStyle]="{'background-image': 'url('+ imageUrl + ')'}"
                   [ngClass]="{'_error': hasError('editPlaceForm', 'file','back')}"
              >
                <ng-container *ngIf="!imageUrl">
                  <div class="new-item-create-form__image-default _person">Фото места</div>
                </ng-container>
                <ng-container *ngIf="imageUrl">
                  <div class="new-item-create-form__image-x _update" (click)="photoPlaceUpload.click()"></div>
                </ng-container>
                <ng-container *ngIf="!imageUrl">
                  <label for="photoPlaceUpload" class="new-item-create-form__image-label"></label>
                </ng-container>
                <input type="file" formControlName="file"
                       #photoPlaceUpload id="photoPlaceUpload"
                       name="attachment" multiple="false" accept="image/jpeg,image/png"
                       (change)="onFileChange($event)" style="display:none;"/>

              </div>
              <div class="new-item-create-form__image-error"> Некорректный формат изображения </div>
            </div>
          </div>

          <div class="new-item-create-form__column _wide">
            <div class="new-item-create-form__row">
              <mat-form-field>
                <mat-label>Адрес (опционально)</mat-label>
                <input autocomplete="off" matInput formControlName="address"
                       type="text"  aria-label="address" placeholder=""
                >
                <mat-error
                  *ngIf="hasError('editPlaceForm','address', 'back')">
                  {{getErrorMessage('address', 'back')}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="new-item-create-form__row">
              <button class="new-item-create-button" type="submit"
                      [disabled]="checkValidFormDisable()"
              > Сохранить </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
