$white: #fff;
$black_a: rgba(0, 0, 0, 0.87); //#212121
$black: #000;
$dark: rgba(0, 0, 0, 0.6); //#666666
$gray-lite: rgba(0, 0, 0, 0.12); // #e0e0e0
$gray: rgba(0, 0, 0, 0.38); //#9e9e9e
$white_rgb: rgba(255, 255, 255, 0.87); //#ffffff
$shadow-border: rgba(0, 0, 0, 0.05); //#f2f2f2
$fff: #ffffff;
$orange: #DE663E;
$orange-2:#EF5B30;
$green: #22B14A;
$green-bright: #00d13b;
$yellow: #D4AC6D;
$header: #253047;
$blue: #2562E2;
/* bg colors: */
$bg-light: #ededed;
$bg-white: #fff;
$bg-page: #e5e5e5;
/* others: */
$r4: 4px;
$form-placeholder: $gray;
$form-border: #e0e0e0;
$form-text: $black;
$left: 16px;
$bottom: 13px;

$transition: 0.2s;
$errors: #f44336;
